/* stylesheet for portfolio html */

/* html */
/* html {
  position: relative;
} */

body {
  /* display: flex; */
  /* flex-direction: column; */
  background-color: lightgrey;
  background-size: cover;
}

i {
  color: white;
  font-size: 50px;
}

/* container/background */
.white-bg {
  background: rgba(255, 255, 255, 0.733);
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 75%;
}

/* @include media-breakpoint-up(md) {
} */

.content {
  flex: 1 0 auto;
}

main {
  margin: 40px;
}

/* navbar */
.navbar-light .navbar-brand {
  background: rgb(0, 51, 128);
  color: white;
  padding: 10px;
}

.h1 {
  color: rgb(0, 51, 128);
  width: auto;
}

/* form group */
.form-group {
  width: auto;
  margin: 30px;
}

#about {
  float: left;
  width: 25%;
  min-width: 200px;
  margin-right: 20px;
}

.center {
  text-align: center;
  /* width: 25%;
  min-width: 200px;
  margin-right: 20px; */
}

/* form submit button */
.btn {
  color: white;
  background-color: rgb(0, 51, 128);
  height: 75px;
  width: 125px;
  margin: 25px;
}

/* .btn btn-primary { */
/* footer */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: lightslategray;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: rgb(0, 51, 128) solid 5px;
  font: 15px;
  color: rgb(212, 208, 208);
}
