/* html */
html {
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

/* container/background */
.white-bg {
  background: white;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 75%;
}

@include media-breakpoint-up(md) {
}

.content {
  flex: 1 0 auto;
}

main {
  margin: 40px;
}

/* navbar */
.navbar-light .navbar-brand {
  background: teal;
  color: white;
  padding: 10px;
}

.h1 {
  color: teal;
  width: auto;
}

.form-group {
  width: auto;
  margin: 30px;
}

#about {
  float: left;
  width: 25%;
  min-width: 200px;
  margin-right: 20px;
}

/* form submit button */
.btn {
  color: white;
  background-color: teal;
  height: 75px;
  width: 125px;
  margin: 25px;
}

/* .btn btn-primary { */
/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: lightslategray;
  text-align: center;
  height: 50px;
  border-top: teal solid 5px;
  font: 15px;
  color: rgb(212, 208, 208);
}
